{% extends "base.html" %}

{% block content %}
<h1>Alex Shovlin</h1>
<h2>Blog</h2>
<ul>
{% for article in articles_page.object_list %}
	{% if article.category == "Blog" %}
		<li><a href="{{article.url}}">{{article.title}}</a>  ({{article.date|strftime('%b. %Y') }})</li>
		{{article.summary}}
	{% endif %}
{% endfor %}
</ul>
<h2>Projects</h2>
<ul>
{% for article in articles_page.object_list %}
	{% if article.category == "Projects" %}
		<li><a href="{{article.url}}">{{article.title}}</a>  ({{article.date|strftime('%b. %Y') }})</li>
		{{article.summary}}
	{% endif %}
{% endfor %}
</ul>


<h2>Elsewhere</h2>
<ul>
	<li><a href="http://github.com/ashovlin">github.com/ashovlin</a></li>
	<li>ashovlin at gmail</li>
</ul>
{% endblock %}